<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="cookieToast" class="toast text-white bg-black" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header text-white">
      <strong class="me-auto">This website uses Cookies</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p>
        by using this site you agree with our <a href="privacypolicy.php">Cookie Policy</a>
      </p>
    </div>
  </div>
</div>